<!DOCTYPE html>
<html>
<head>
    <title>Мое Flask-приложение</title>
    <link rel="icon" href="{{ url_for('static', filename='1234.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        body {
            padding: 20px;
            background-color: rgba(0, 0, 0, 0.5);
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Мое Flask-приложение</h1>
        <h1>Определите возраст имени</h1>
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>